	body{
		background-color: none;
		overflow-x:hidden;
	}

#Container{
		position:absolute;
		width:100%;
		height:100%;
	}

	#LogoImage2 img{
		width:80%;
		padding-left: 10%;
		padding-top: 5%;
	}

	h1{
		font-family: "Interstate Bla Comp";
		font-size: 48px;
		letter-spacing: .05em;
		text-transform: uppercase;
		margin:0;
		display:inline;

	}

	h2{
		font-family: "Interstate Bla Comp";
		text-transform: uppercase;
		font-size: 80px;
		letter-spacing: .05em;
		line-height: .8em;
		margin:0;
	}

	a{
		text-decoration: none;
		font-style: normal;
		color:#000000;
	}


	a:hover{
		font-style: italic;
	}

	.sitesGrid a:hover{
		font-style: normal;
	}

	h2 a{
		color:black;
	}

	h3{
		font-family: "Interstate Bd";
		font-size: 24px;
		/*text-transform: uppercase;*/
	}


	h4{
		font-family: "Interstate Bd Cond";
		text-transform: uppercase;
		font-size: 50px;
		/*letter-spacing: .05em;*/
		line-height: .8em;
		margin:0;
	}

	h5{
		font-family: "Interstate Bd";
		font-size: 24px;
		text-decoration: underline;
		margin-bottom: 10px;
	}

	ul{
		padding: 0;
		list-style: none;
		text-align: right;
	}

	ul li ul{
		text-align: right;
	}

	.splashDescription{
		background-color:rgba(255, 255, 255, 1.0);
		position: fixed;
		width:84%;
		height:84%;
		top:10%;
		left:8%;
		overflow: hidden;
		overflow: scroll;
	}

	


	.splashClose{
		position:fixed;
		top:8%;
		right:8%;
		width:50px;
		height:50px;
		z-index: 2000;
		opacity:1;

	}

	.splashClose:hover{
		cursor:pointer;
	}

	.about p{
		font-family: "Interstate Bd";
		font-size: 14px;
		color:#000000;
	}

	.aboutDescription{
		position: fixed;
		width: 55%;
		height:100%;
		margin-left: 20%;
		border-left: none;
		padding: 10px;
		opacity: 1;
		overflow: hidden;
		overflow: scroll;
	}


	#aboutContainer {
		position: fixed;
		width: 80%;
		margin-left: 10%;
		left: 0px;
		height: 100%;
		top: 12%;
		
	}

	.aboutColophon{
		position: absolute;
		width: 33%;
		height: 70%;
		top: 23%;
		overflow-x: scroll;
	}

	.aboutColophon h1{
		font-family: "Interstate Bla Comp";
		font-size: 21px;
		letter-spacing: .05em;
		text-transform: uppercase;
		display:inline;
		padding-top: 10px;
		margin-left: 0px;
	}

	.aboutColophon p{
		padding-top: 5px;
		line-height: 21px;
	}

	.credits{
		padding-top: 15px;
	}

	#aboutText{
		position: absolute;
		float: left;
		width: 60%;
		margin-left: 35%;
		height: 70%;
		padding-left: 10px;
		padding-bottom: 500px;
		overflow-x:scroll;
	}

	#aboutText p{
		padding-top: 0px;
	}

	#aboutText h1{
		font-family: "Interstate Bla Comp";
		font-size: 21px;
		letter-spacing: .05em;
		text-transform: uppercase;
		display:inline;
		padding-top: 10px;
		margin-left: 0px;
		text-indent: 25px;


	}

	#aboutText h3{
		font-family: "Interstate Bd";
		font-size: 18px;
		text-transform: uppercase;
		/*text-indent: 25px;*/
	}

}

p{
	margin:0;
	padding:0px;
}

.close{
	position:fixed;
	top:6%;
	right:6%;
	width:50px;
	height:50px;
	z-index: 2000;
	opacity:0;
}

.menuIcon{
	position:fixed;
	top:4%;
	width:50px;
	height:50px;
}

.close:hover{
	cursor:pointer;
}

.home{
	position:fixed;
	left: 3.5%;
	top: 3%;
	z-index: 2000;
	opacity: 1;
	cursor: pointer;
}

.homeClose{
	position:fixed;
	left: 3.5%;
	top: 3%;
	z-index: 1000;
	opacity: 0;
	cursor: pointer;
}

.bar1{
	position:absolute;
	width:100%;
	height:10px;
	margin-left: 25px;
	z-index: 200;
	background-color: #000000;
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	transform: rotate(45deg);
}

.bar2{
	position:absolute;
	width:100%;
	height:10px;
	z-index: 200;
	margin-left:25px;
	background-color: #000000;
	-ms-transform: rotate(-45deg); /* IE 9 */
	-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
	transform: rotate(-45deg);
}

.menubar1{
	position:absolute;
	width:100%;
	height:8px;
	z-index: 200;
	background-color: #000000;
}

.menubar2{
	position:absolute;
	width:100%;
	height:8px;
	top:15px;
	z-index: 200;
	background-color: #000000;
}

.menubar3{
	position:absolute;
	width:100%;
	height:8px;
	top:30px;
	z-index: 200;
	background-color: #000000;
}

.menubarClose1{
	position:absolute;
	width:100%;
	height:8px;
	z-index: 200;
	top:15px;
	background-color: #000000;
	-webkit-transform: rotate(45deg);  /* Chrome, Safari 3.1+ */
	-moz-transform: rotate(45deg);  /* Firefox 3.5-15 */
	-ms-transform: rotate(45deg);  /* IE 9 */
	-o-transform: rotate(45deg);  /* Opera 10.50-12.00 */
	transform: rotate(45deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}

.menubarClose2{
	position:absolute;
	width:100%;
	height:8px;
	top:15px;
	z-index: 200;
	background-color: #000000;
	-webkit-transform: rotate(-45deg);  /* Chrome, Safari 3.1+ */
	-moz-transform: rotate(-45deg);  /* Firefox 3.5-15 */
	-ms-transform: rotate(-45deg);  /* IE 9 */
	-o-transform: rotate(-45deg);  /* Opera 10.50-12.00 */
	transform: rotate(-45deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}

#mapContainer {
	position:fixed;
	width:100%;
	height:100%;
	top:0%;
	left: 0%
}

#contentContainer {
	position:fixed;
	width:100%;
	height:100%;
	margin: -10px;
	padding: 0px;
}

#mapCanvas {
	position: absolute;
	/*top:	6%;
	left: 6%;*/
	height: 100%;
	width: 100%;
}

#infowindow {
	position: absolute;
	left: 0;
	top: 37%;
	height: 110px;
	width: 100%;
	overflow: none;
	z-index: 200;

}

#bodyContent{
	position: absolute;
	top: -49px;
	text-align: center;
	width:100%;
}

#bodyContent p{
	font-size: 150px;
	font-family: "Interstate Bla Comp";
	color: white;
	text-transform: uppercase;
	opacity:1;
	text-align: center;
	text-shadow: 1px 1px 5px #444444;
}


#logo{
	position: relative;
	width: 100%;
	height: auto;

}

.logo{
	position:fixed;
	left: 10%;
	top: 14%;
	width:28%;
	height:auto;
	background-color: white;
	z-index: 100;
}

.logo h3{
	margin:0;
	padding:0;
	text-transform: uppercase;
}

/*==================menu=======================*/
/*everything about menu should be all inside of style.css page*/
.menu {
	z-index: 1999;
	position: fixed;
	width: 85%;
	height: 12%;
	margin:-10px;
	opacity: 0;
}
/*======Special cases for the index page menu=======*/
/*=About, Archive, and Itinerary/Itineraries=*/
.AImenu {
	z-index: 1999;
	position: fixed;
	width: 100%;
	height: 10%;
	margin:-10px;
	opacity: 1;
}

.ABmenu {
	z-index: 1999;
	position: fixed;
	width: 100%;
	height: 10%;
	margin:-10px;
	opacity: 1;
}

/*.Aboutmenu {
	z-index: 1999;
	position: fixed;
	width: 100%;
	height: 10.5%;
	margin:-10px;
	opacity: 1;
	background-color: white;
}*/

.menu div:hover{
	font-style: italic;
}

.menuLinks{
	width: 101%;
	height: 17%;
	position:relative;
	top:30px;
	left:130px;
	opacity: 1;
}   

/*======A special case for the index page menu=======*/


.menuLinks h1{
	margin-right: 10px;
	font-size: 2.7rem;
} 

/*=================about page menu================*/
.menuLinks #ABabout{
	opacity: 1;
	z-index: 100;
}
.menuLinks #ABmap{
	opacity: 0;
} 

.menuLinks #ABarchive{
	opacity: 0;
}

.menuLinks #ABint{
	opacity: 0;
} 

/*=================archive page menu================*/
.menuLinks #Aabout{
	opacity: 0;
/*	z-index:-100;*/
}
.menuLinks #Amap{
	opacity: 0;
} 

.menuLinks #Aarchive{
	opacity: 1;
}

.menuLinks #Aint{
	opacity: 0;
} 

/*=================itineraries page menu================*/
.menuLinks #Iabout{
	opacity: 0;
} 

.menuLinks #Imap{
	opacity: 0;
} 

.menuLinks #Iarchive{
	opacity: 0;
} 

.menuLinks #Iint{
	opacity: 1;
	z-index: 100;
} 



.archiveTitle{
	position: relative;
	top: 0%;
	left: 10%;
	height: auto;
	z-index: 20;
	/*-ms-transform: rotate(180deg);*/ /* IE 9 */
	/*-webkit-transform: rotate(180deg);*/ /* Chrome, Safari, Opera */
	/*transform: rotate(180deg);*/
}

.listItineraries{
	position: fixed;
	bottom: 15%;
	right: 125px;
	z-index: -10;
}

.nolink{
	text-decoration: line-through;
}

.link{
	text-decoration: none;
}

.listItineraries h3 {
	font-size: 1.5rem;
	
	
}

.listItineraries h3 a{
	font: normal;
	text-decoration:none;

}


.listItineraries h3 a:hover{
	text-decoration: none;
	font-style: italic;
}


/*===========Itinerary Page========*/
.itineraryTitle{
	position: relative;
	top: 0%;
	left: 10%;
	width:10%;
	height: auto;
	z-index: 20;
	/*-ms-transform: rotate(180deg);*/ /* IE 9 */
	/*-webkit-transform: rotate(180deg);*/ /* Chrome, Safari, Opera */
	/*transform: rotate(180deg);*/
}
.itineraryContain{
	position: absolute;
	width: 100%;
	top: 17%;
}

#itinerarySitesContain{
	position: fixed;
    top: 10%;
    left: 0%;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    height: 94%; /* it was 86%*/
    overflow-x: scroll;
	
}

#itinerarySitesContain ul li{
	font-family: "Interstate Bd";
	font-size: 48px;
	line-height: .8em;
	margin:50px;
	text-align: left;
}
#itinerarySitesContain ul li h1{
	font-family: "Interstate Bd";
	font-size: 48px;
	line-height: 1em;
	text-align: left;
	display: inline-block;
}

#itinerarySitesContain ul li h2{
	font-family: "Interstate Bd";
	font-size: 24px;
	line-height: .8em;
	margin:10px;
	text-align: left;
}

.itineraryMap{
	position: fixed;
	top: 0%;
	left:0%;
	width: 100%;
	height: 100%;
	opacity:0;
	z-index: -10;
	
	
}

.itineraryMap iframe{
	position:absolute;
	width:100%;
	height:100%;
}

.itineraryMap_solo{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 70%;
	opacity:1;
	z-index: -100;
	
}

.itineraryMap_solo:hover{
	cursor: move; /* fallback if grab cursor is unsupported */
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	
}

.itineraryMap_solo iframe{
	position:absolute;
	width:100%;
	height:100%;
}



.about{
	position: absolute;
	top: 11%;
	left: 600px;
	width: 500px;
	z-index: -10;
	opacity:0;
}

@media (max-width: 1280px){
	.menuLinks{
		left: 120px;
	}
	.menuLinks h1{
		font-size: 2.8rem;
	}
}


@media (max-width: 1024px){
	.menuLinks{
		left: 105px;
	}

	.menuLinks h1{
		font-size: 2.7rem;
	}	

	.menuIcon{
		top: 3.6%;
		width: 40px;
	}

	.menubarClose1{
		height: 7px;
	}
	.menubarClose2{
		height: 7px;
	}

	.menubar1{
		height: 7px;
	}
	.menubar2{
		height: 7px;
	}
	.menubar3{
		height: 7px;
	}
}

@media (max-width: 768px){
	.menuLinks{
		left: 80px;
	}

	.menuLinks h1{
		font-size: 2.4rem;
	}

	.menuIcon{
		top: 3.3%;
	}

	.menubarClose1{
		height: 6.5px;
	}
	.menubarClose2{
		height: 6.5px;
	}

	.menubar1{
		height: 6.5px;
	}
	.menubar2{
		height: 6.5px;
	}
	.menubar3{
		height: 6.5px;
	}
}
@media (max-width: 540px){
	.menuLinks h1{
		font-size: 2rem;
		margin-left: 0px; 
	}
}
@media (max-width: 414px){
	.menuLinks{
		left: 50px;
		top: 28px;
	}

	.menuLinks h1{
		font-size: 1.65rem;
		margin-left: 3px;
	}
	.menuIcon{
		top: 2.9%;
		width: 28px;
	}

	.menubarClose1{
		height: 5.5px;
	}
	.menubarClose2{
		height: 5.5px;
	}

	.menubar1{
		height: 5.5px;
		top: 5px;
	}
	.menubar2{
		height: 5.5px;
		top: 15px;
	}
	.menubar3{
		height: 5.5px;
		top: 25px;
	}

	.close{
		width: 30px;
		top: 5%;
		right: 11%;
	}

	.bar1{
		height: 6px;
	}
	.bar2{
		height: 6px;
	}

	#itinerarySitesContain {
		padding-left: 0%; 
    	padding-right: 0%;
    	height: 90%;
    	width: 100%
	}

	#itinerarySitesContain ul li {
		margin:30px;
	}

	#itinerarySitesContain ul li h1 {
		font-size: 26px;
	}
	#itinerarySitesContain ul li h2 {
		font-size: 14px;
		margin: 7px;
	}
}

@media (max-width: 375px){
	.menuLinks{
		left: 50px;
		top: 23px;
	}

	.menuLinks h1{
		font-size: 1.56rem;
		margin-left: 0px;
	}
	.menuIcon{
		top: 2.5%;
		width: 25px;
	}

	.menubar1{
		height: 5px;
		top: 6px;
	}
	.menubar2{
		height: 5px;
		top: 15px;
	}
	.menubar3{
		height: 5px;
		top: 24px;
	}



}

@media (max-width: 320px){
	.menubarClose1{
		height: 4px;
		width: 80%;
    	top: 17px;

	}
	.menubarClose2{
		height: 4px;
		width: 80%;
    	top: 17px;
	}
	.menuLinks{
		left: 40px;
	}
	.menuLinks h1{
		font-size: 1.3rem;
	}
}